#board {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 620px;
  border-radius: 3.5rem;
  background-color: #fff;
  border: 0.375rem solid #5C5C5C;
  box-shadow: 10px 6px 0px 10px #404040;
  overflow: hidden;
  display: flex;
  margin-bottom: 40px;
  z-index: 1;
}

#board canvas {
  position: relative;
  pointer-events: none;
  z-index: 3;
}

.separation-line {
  position: absolute;
  border: 4px solid #5C5C5C;
  margin-block: 1rem;
  height: 96%;
  width: 0;
  z-index: 2;
  border-radius: 1rem;
  cursor: auto;
}

.separation-line.horizontal {
  margin: 0;
  margin-inline: 1rem;
  width: 96%;
  height: 0;
  cursor: auto;
}

.cells {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;

  cursor: pointer;
}