.scene {
  width: 632px;
  height: 632px;
  perspective: 6000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
  transform-style: preserve-3d;
}

@keyframes rotateToGame {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(-180deg); }
}

@keyframes rotateToMenu {
  0% { transform: rotateY(-180deg); }
  100% { transform: rotateY(0deg); }
}

.cube.started {
  animation: rotateToGame 1s cubic-bezier(0.49, -0.01, 0.3, 0.99) forwards;
}

.cube.ended {
  animation: rotateToMenu 1s cubic-bezier(0.49, -0.01, 0.3, 0.99) forwards;
}

.face {
  position: absolute;
  width: 612px;
  height: 612px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.face::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.side {
  border: none !important;
  box-shadow: none !important;
  background-color: #404040;
}

.front {
  margin-right: 20px;
  background-color: transparent !important;
  transform: translateZ(18px);
}

.back {
  border-radius: 1rem;
  margin-left: 20px;
  transform: rotateY(180deg) translateZ(18px);
}

.center-right {
  height: 630px;
  transform: rotateY(90deg) translateZ(10px) translateY(-3px);
}

.center-left {
  height: 630px;
  transform: rotateY(90deg) translateZ(592px) translateY(-3px);
}

.left {
  margin-top: 10px;
  height: 95%;
  transform: rotateY(-90deg) translateZ(15px);
}

.right {
  margin-top: 8px;
  height: 95%;
  transform: rotateY(90deg) translateZ(610px);
}

.face-content {
  z-index: 2;
  position: relative;
}

#board {
  position: relative;
  width: 612px;
  height: 612px;
  max-height: 620px;
  border-radius: 1rem;
  background-color: #fff;
  border: 0.375rem solid #5C5C5C;
  box-shadow: 10px 6px 0px 10px #404040;
  display: flex;
  z-index: 2;
  /* overflow: hidden; */
}

#board canvas {
  position: relative;
  pointer-events: none;
  z-index: 4;
}