#root {
  width: 100%;
  height: 100%;
}

.root-container {
  width: 100%;
  height: 100%;
  transform: translateY(0px);
  transition: transform 750ms cubic-bezier(0.26, 0.25, 0, 1.01);
}

.root-container.loading {
  transform: translateY(100vh);
}

.logo-container {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
}

.userfield {
  max-width: 632px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  transition: opacity 60ms;
}

.background::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: var(--night-opacity);
  background-color: #3A4798;
  transition: opacity 60ms;
}

.background canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}